body{
    margin: 0;
    padding: 40px;
    background: #1C1C1C;
    font-family: "Inter";
}

.card{
    background: #1F2937;
    padding: 60px 40px;
}

h1{
    color: white;
    font-family: "Karla";
    font-size: 65px;
    font-weight: 700;
}

h2{
    color: #D5D4D8;
    font-size: 28px;
    font-weight: 400;
    margin: -10px 0 40px 0;
}

span{
    color: #4ADF86;
    display: block;
}

.flex-div{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.flex-item{
    margin-right: 40px;
}

#output-div{
    border-top: 1px solid #D5D4D880;
    padding-top: 20px;
}

button {
    padding: 15px 30px;
    border-radius: 5px;
    border: 0;
    background: #10B981;
    color: white;
    font-family: "Inter";
    cursor: pointer;
}

input{
    background: #D5D4D8;
    width: 150px;
    padding: 15px 20px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    text-align: center;
}

.output{
    width: 4em;
    padding: 20px 30px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background-color: #273549;
    color: #4ADF86;
    width: 60px;
    text-align: center;
}